<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <table class="job-listing">
        <tbody>
            @foreach (Job job in ViewBag.jobs)
            {

                <tr>
                    <ul>
                        <li>@job.Id</li>
                        <li>@job.Name</li>
                        <li>@job.Employer</li>
                        <li>@job.Location</li>
                        <li>@job.PositionType</li>
                        <li>@job.CoreCompetency</li>
                    </ul>
                </tr>
             }
        </tbody>
    </table>
</div>